/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/aspect-ratio";

@theme {
	/* Colors */
	--color-primary-light: #6028D9;
	--color-primary: #4C1D95;
	--color-primary-dark: #2E1065;
	
	--color-secondary-light: #34D399;
	--color-secondary: #059669;
	--color-secondary-dark: #065F46;
	
	/* Typography */
	--font-sans: 'Inter', sans-serif;
	--font-heading: 'Ubuntu', sans-serif;
	--text-xxs: 0.65rem;
	
	/* Spacing */
	--spacing-72: 18rem;
}

/* @theme {
	--color-light: '#6028D9';
	--color-default: '#4C1D95';
	--color-dark: '2E1065';
	--text-xxs: 0.625rem;
} */

